{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true,
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
    },
    "ecmaVersion": 12,
    "sourceType": "module",
  },
  "plugins": ["react", "@typescript-eslint", "prettier"],
  "rules": {
    "prettier/prettier": "error",
    "semi": ["error", "always"],
    "quotes": ["error", "single"],
    "indent": ["error", 2],
    "no-unused-vars": ["warn"],
    "no-console": ["warn"],
    "eqeqeq": ["error", "always"],
    "react/prop-types": "off",
    "@typescript-eslint/no-explicit-any": "warn",
    "max-len": ["error", {"code": 80, "tabWidth": 2, "ignoreComments": true}],
  },
  "settings": {
    "react": {
      "version": "detect",
    },
  },
}
